<div class="page">
    <div class="weui-wepay-lists">
        <div class="weui-wepay-lists__hd">
            <div class="weui-wepay-lists__menu">
                <div class="weui-wepay-lists__menu__item">我发起的</div>
                <div class="weui-wepay-lists__menu__item weui-wepay-lists__menu__item_on">我参与的</div>
            </div>
        </div>
        <div class="weui-wepay-lists__bd">
            <div class="weui-cells" style="margin-top:0">
                <a class="weui-cell weui-cell_primary" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="./images/list_eg_img_1.jpg" alt="" width="34" height="34">
                    </div>
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">聚会AA</div>
                        <div class="weui-cell__info">2016-07-11 21:49:29</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-orange">-65.45元</div>
                        <div class="weui-cell__info">ghostzhang</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_primary" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="./images/list_eg_img_1.jpg" alt="" width="34" height="34">
                    </div>
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">聚会AA</div>
                        <div class="weui-cell__info">2016-07-11 21:49:29</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-orange">-65.45元</div>
                        <div class="weui-cell__info">ghostzhang</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_primary" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="./images/list_eg_img_2.jpg" alt="" width="34" height="34">
                    </div>
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">普通筹款</div>
                        <div class="weui-cell__info">2015-12-08 21:49:29</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-orange">-50.00元</div>
                        <div class="weui-cell__info">懒洋洋大王</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_primary" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="./images/list_eg_img_2.jpg" alt="" width="34" height="34">
                    </div>
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">普通筹款</div>
                        <div class="weui-cell__info">2015-12-08 21:49:29</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-orange">-50.00元</div>
                        <div class="weui-cell__info">懒洋洋大王</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_primary" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="./images/list_eg_img_3.jpg" alt="" width="34" height="34"></div>
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">粤B TR348</div>
                        <div class="weui-cell__info">2018-07-11 21:49:29</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-green">￥245.60</div>
                        <div class="weui-cell__info">已支付，处理中</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_primary" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="./images/list_eg_img_3.jpg" alt="" width="34" height="34"></div>
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">粤B TR348</div>
                        <div class="weui-cell__info">2018-07-11 21:49:29</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-green">￥245.60</div>
                        <div class="weui-cell__info">已支付，处理中</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_primary" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="./images/list_eg_img_4.jpg" alt="" width="34" height="34"></div>
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">酒后代驾服务</div>
                        <div class="weui-cell__info">2016-07-11 21:49:29</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-green">￥245.60</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_primary" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="./images/list_eg_img_4.jpg" alt="" width="34" height="34"></div>
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">酒后代驾服务</div>
                        <div class="weui-cell__info">2016-07-11 21:49:29</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-green">￥245.60</div>
                    </div>
                </a>
            </div>
            <div class="weui-loadmore"> <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>
    </div>
</div>