<div class="page" style="background-color: #333;">
    <div class="weui-wepay-code weui-wepay-code_logo">
        <div class="weui-wepay-code__bd">
            <p class="weui-wepay-code__logo">
                <img src="https://wx.gtimg.com/res/img/wepayui/0.0.1/wepay_logo_default_white_500x126.png" alt="" width="190" height="48;">
            </p>
            <div class="weui-wepay-code__main">
                <div class="weui-wepay-code__img">
                    <img src="./images/code.png" alt="" width="130" height="130">
                </div>
                <h2 class="weui-wepay-code__subtitle">扫码付款</h2>
            </div>
        </div>
        <div class="weui-wepay-code__ft">
            <div class="weui-wepay-code__business">
                <div class="weui-wepay-code__business-logo">
                    <img src="./images/logo_servives.jpg" alt="" width="200" height="28">
                </div>
                <p class="weui-wepay-code__business-info">提供支持服务</p>
            </div>
        </div>
    </div>
</div>