<div class="page">
    <div class="page__hd">
        <h1 class="page__title">WePay Font</h1>
        <p class="page__desc">微信支付字体</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-wepay-color-dark">Dark</div>
        <div class="weui-wepay-color-gray">Gray</div>
        <div class="weui-wepay-color-light">Light</div>
        <div class="weui-wepay-color-blue">Blue</div>
        <div class="weui-wepay-color-lightblue">Light Blue</div>
        <div class="weui-wepay-color-green">Green</div>
        <div class="weui-wepay-color-red">Red</div>
        <div class="weui-wepay-color-orange">Orange</div>
    </div>
</div>