<div class="page" style="background-color: #f6f5fb;">
    <div class="weui-wepay-pay-select">
        <div class="weui-wepay-pay-select__hd">
            <h1 class="weui-wepay-pay-select__title">选择金额付款</h1>
            <p class="weui-wepay-pay-select__info">支付金额给商户</p>
        </div>
        <div class="weui-wepay-pay-select__bd">
            <ul class="weui-wepay-pay-select__element">
                <li class="weui-wepay-pay-select__li">
                    <a href="javascript:;" class="weui-wepay-pay-select__item weui-wepay-pay-select__item_on">1元</a>
                </li>
                <li class="weui-wepay-pay-select__li">
                    <a href="javascript:;" class="weui-wepay-pay-select__item">10元</a>
                </li>
                <li class="weui-wepay-pay-select__li">
                    <a href="javascript:;" class="weui-wepay-pay-select__item">100元</a>
                </li>
                <li class="weui-wepay-pay-select__li">
                    <a href="javascript:;" class="weui-wepay-pay-select__item">200元</a>
                </li>
                <li class="weui-wepay-pay-select__li">
                    <a href="javascript:;" class="weui-wepay-pay-select__item">300元</a>
                </li>
                <li class="weui-wepay-pay-select__li">
                    <a href="javascript:;" class="weui-wepay-pay-select__item">500元</a>
                </li>
            </ul>
        </div>
        <div class="weui-wepay-pay-select__ft">
            <div class="weui-wepay-pay__btn">
                <a href="javascript:;" class="weui-btn weui-btn_primary">立即支付</a>
            </div>
            <p class="weui-wepay-pay__info">点击上面的“立即支付”按钮，即表示你同意<a href="javascript:;" class="weui-wepay-color-blue">条款声明</a>。</p>
        </div>
    </div>
    <div class="weui-wepay-logos weui-wepay-logos_ft">
        <i class="weui-wepay-logo-default weui-wepay-logo_gray" style="font-size: 16px;"><span class="path1"></span><span class="path2"></span></i>
    </div>
</div>