<div class="page">
    <div class="weui-wepay-lists">
        <div class="weui-wepay-lists__hd">
            <div class="weui-wepay-lists__menu">
                <div class="weui-wepay-lists__menu__item weui-wepay-lists__menu__item_on">待完成</div>
                <div class="weui-wepay-lists__menu__item">已完成</div>
            </div>
        </div>
        <div class="weui-wepay-lists__bd">
            <div class="weui-cells" style="margin-top:0">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <h2 class="weui-cell__title">行政业务订单统一支付</h2>
                        <div class="weui-cell__info">4月11日 22:54</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title">支付成功</div>
                        <div class="weui-cell__info">￥200元</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <h2 class="weui-cell__title">行政业务订单统一支付</h2>
                        <div class="weui-cell__info">4月11日 22:54</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title">支付成功</div>
                        <div class="weui-cell__info">￥200元</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <h2 class="weui-cell__title">单号123456x</h2>
                        <div class="weui-cell__info">2015-07-07</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title">￥51</div>
                        <div class="weui-cell__info weui-wepay-color-green">缴费成功</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <h2 class="weui-cell__title">单号123456x</h2>
                        <div class="weui-cell__info">2015-07-07</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title">￥51</div>
                        <div class="weui-cell__info weui-wepay-color-green">缴费成功</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <h2 class="weui-cell__title">100元手机话费充值</h2>
                        <div class="weui-cell__info">4月1号 13:19</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-orange">￥99.85</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <h2 class="weui-cell__title">100元手机话费充值</h2>
                        <div class="weui-cell__info">4月1号 13:19</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-orange">￥99.85</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <h2 class="weui-cell__title">微信红包</h2>
                        <div class="weui-cell__info">2016-05-12 10:12:02</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-green">+11.00</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <h2 class="weui-cell__title">微信红包</h2>
                        <div class="weui-cell__info">2016-05-12 10:12:02</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__title weui-wepay-color-green">+11.00</div>
                    </div>
                </a>
            </div>
            <div class="weui-loadmore"> 
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>
    </div>
</div>