<div class="page">
    <div class="weui-wepay-lists">
        <div class="weui-wepay-lists__bd">
            <div class="weui-cells" style="margin-top: 0;">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">车险</div>
                        <div class="weui-cell__info">被保险人：张川</div>
                        <div class="weui-cell__info">被保车辆：粤B5205A</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__info weui-wepay-color-green">待支付</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">车险</div>
                        <div class="weui-cell__info">被保险人：张川</div>
                        <div class="weui-cell__info">被保车辆：粤B5205A</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__info weui-wepay-color-green">待支付</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">健康险</div>
                        <div class="weui-cell__info">被保险人：张川</div>
                        <div class="weui-cell__info">保额：15000元</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__info">保障中</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">健康险</div>
                        <div class="weui-cell__info">被保险人：张川</div>
                        <div class="weui-cell__info">保额：15000元</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__info">保障中</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">07月09日</div>
                        <div class="weui-cell__info">起点：南山区科技区</div>
                        <div class="weui-cell__info">终点：宝安区西乡街道</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__info weui-wepay-color-green">已付款</div>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <div class="weui-cell__title">07月09日</div>
                        <div class="weui-cell__info">起点：南山区科技区</div>
                        <div class="weui-cell__info">终点：宝安区西乡街道</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="weui-cell__info weui-wepay-color-green">已付款</div>
                    </div>
                </a>
            </div>
            <div class="weui-loadmore"> 
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>
    </div>
</div>