<div class="page">
    <div class="page__hd">
        <h1 class="page__title">WePay Logo</h1>
        <p class="page__desc">微信支付商标</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="wepay-logo-box weui-flex" style="padding: 0;">
            <div class="weui-flex__item bg-green">
                <i class="weui-wepay-logo weui-wepay-logo_white"></i>
            </div>
            <div class="weui-flex__item bg-white">
                <i class="weui-wepay-logo"></i>
            </div>
        </div>
        <div class="wepay-logo-box bg-green">
            <i class="weui-wepay-logo-default weui-wepay-logo_white"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <div class="wepay-logo-box bg-white">
            <i class="weui-wepay-logo-default"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <div class="wepay-logo-box bg-gray">
            <i class="weui-wepay-logo-default weui-wepay-logo_gray"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <div class="wepay-logo-box bg-green">
            <i class="weui-wepay-logo-default-en weui-wepay-logo_white"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <div class="wepay-logo-box bg-white">
            <i class="weui-wepay-logo-default-en weui-wepay-logo_gray"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <div class="wepay-logo-box bg-gray">
            <i class="weui-wepay-logo-default-en"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <div class="wepay-logo-box weui-flex" style="padding: 0;">
            <div class="weui-flex__item bg-green">
                <i class="weui-wepay-logo-primary weui-wepay-logo_white"><span class="path1"></span><span class="path2"></span></i>
            </div>
            <div class="weui-flex__item bg-white">
                <i class="weui-wepay-logo-primary"><span class="path1"></span><span class="path2"></span></i>
            </div>
        </div>
        <div class="wepay-logo-box weui-flex" style="padding: 0;">
            <div class="weui-flex__item bg-green">
                <i class="weui-wepay-logo-primary-en weui-wepay-logo_white"><span class="path1"></span><span class="path2"></span></i>
            </div>
            <div class="weui-flex__item bg-white">
                <i class="weui-wepay-logo-primary-en"><span class="path1"></span><span class="path2"></span></i>
            </div>
        </div>
        <div class="wepay-logo-box bg-green">
            <i class="weui-wepay-logo-recommend weui-wepay-logo_white" style="font-size: 36px;"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <div class="wepay-logo-box bg-white">
            <i class="weui-wepay-logo-recommend" style="font-size: 36px;"><span class="path1"></span><span class="path2"></span></i>
        </div>
    </div>
</div>